{% extends "base.html" %}
{% block title %}Question{% endblock title %} 
{% block body %}
    <style>
        .form-label{font-weight:bold;}
    </style>

    <div class="container-fluid " style="padding-inline: 15px">
        <img src="/static/image/question_bg.png" style="height:600px; margin-left:30%" />
    </div>

    <div class="container" style=" max-width: 50%; margin-bottom:5%; margin-left:25%">
        <h1 style= "text-align: center">
            Add New Topic
        </h1>
        <a class="btn btn-lg btn-primary" style="margin-left: 76%" href="/add_question" role="button">Add Question</a>
        <form method="POST" action="/add_category">
            {% csrf_token %}
            <div class="mb-3">
                <label for="category" class="form-label">New Topic</label>
                <input type="text" class="form-control" id="new_category" name="new_category" placeholder="New Topic">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
{% endblock %}