<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{%load static%}

<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'image/question_bg.png' %}"/>

    <link rel="stylesheet" type='text/css' href="{% static './css/bootstrap.css' %}" />

    <title>
      {% block title %}
      {% endblock %} | My Quiz
    </title> 

    {% block head %}
    {% endblock head %}
  </head>

  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-{{ message.tags }}dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
      <div>
        <div  style="max-width: 98%; margin-left:1%; ">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="background-color : #b6e5e5;">
              <div >
                <a class="navbar-brand" href="/" style="color: #002b50">My Quiz</a>
              </div>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height:50px; max-width:100%;">
                {% if request.user.is_superuser %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="min-width:100%; padding-top: 1%; color: #002b50">
                    <li class="nav-item" style="width: 4%">
                      <a class="nav-link active" aria-current="page" href="/" >Home</a>
                    </li>

                    <li class="nav-item" style="width: 7%">
                      <a class="nav-link" href="/contact" >Contact Us</a>
                    </li>

                    <li class="nav-item" style="width: 7%">
                      <a class="nav-link" href="/get-category" >Take Quiz</a>
                    </li>
                    
                    <li class="nav-item dropdown" style="width: 8%">
                      <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Operations
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/add-category">Add Category</a></li>
                        <li><a class="dropdown-item" href="/add-question">Add Question</a></li>
                        
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/view-category">View Category</a></li>
                        <li><a class="dropdown-item" href="/view-question">View Question</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/delete-category">Delete Category</a></li>
                        <li><a class="dropdown-item" href="/delete-question">Delete Question</a></li>
                        
                      </ul>
                    </li>

                    <li class="nav-item" style="width: 9%">
                      <a class="nav-link" href="/view-record" >Check Records</a>
                    </li>

                    <li class="nav-item dropdown" style="width: 8%">
                      <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User actions
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/create-superuser" >Create Users</a></li>
                        <li><a class="nav-link" href="/delete-user" >Delete Users</a></li>
                        
                        <li><hr class="dropdown-divider"></li>
                        
                        
                      </ul>
                    </li>

                    <li class="nav-item" style="width: 10%">
                      <a class="nav-link" href="/about" >My profile</a>
                    </li>
                    

                    <li style="width: 50%; margin-bottom:1%">
                      <a type="submit" class="btn btn-primary" value='category' style="margin-left:90%; background-color: #002b50; border-color: #002b50 ; color: #ffffff;" href="/logout">Logout</a>
                    </li>
                  </ul>
                
                {% else %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="min-width:100%; padding-top: 1%;">
                    <li class="nav-item" style="width: 4%">
                      <a class="nav-link active" aria-current="page" href="/" >Home</a>
                    </li>

                    

                    <li class="nav-item" style="width: 7%">
                      <a class="nav-link" href="/contact" >Contact Us</a>
                    </li>

                    <li class="nav-item" style="width: 7%">
                      <a class="nav-link" href="/get-category" >Take Quiz</a>
                    </li>

                    <li class="nav-item" style="width: 11%">
                      <a class="nav-link" href="/view-record" >Check My Record</a>
                    </li>
                    <li class="nav-item" style="width: 10%">
                      <a class="nav-link" href="/about" >My Profile</a>
                    </li>
                    
                    <li style="width: 61%; margin-bottom:1%">
                      <a type="submit" class="btn btn-primary" value='category' style="margin-left:91%; background-color: #002b50; border-color: #002b50 ; color: #ffffff;" href="/logout">Logout</a>
                    </li>
                  </ul>

                {% endif %}
              </div>

            </div>
          </nav>
        </div>
      </div>
    {% endif %}
    
    {% block body %}
      {% comment %} 
        this section is used for body 
      {% endcomment %}
    {% endblock %}
    
    {% if user.is_authenticated %}
      {% comment %} 
        this section is used for footer 
      {% endcomment %}
      <div class="container" style = "max-width: 100%;">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="view-record" class="nav-link px-2 text-muted">My Records</a></li>
            <li class="nav-item"><a href="contact" class="nav-link px-2 text-muted">Contact</a></li>
            <li class="nav-item"><a href="about" class="nav-link px-2 text-muted">My Profile</a></li>
          </ul>
          <p class="text-center text-muted">&copy; 2024 Aashish Chakradhar</p>
        </footer>
      </div>
    {% endif %}

    <script src="{% static './js/bootrap.bundle.js' %}"> </script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    
    <script>
      function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }

      var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                category: '{{category}}',
                questions: [],
                totalAttemptedMarks: 0,
                totalMarksObtained: 0,
            }
        },
        methods: {
          getQuestions(){
              var _this = this
              fetch(`/api/get-quiz/?category=${_this.category}`)
              .then(response => response.json())
              .then(result =>{
                  console.log(result)
                  _this.questions = result.data
              })
              .catch(error => {
                console.error('Error:', error);
              }); 
          },
          {% comment %} checkAnswer(event,uid,marks){
            var obtained=0
              this.questions.map(question=>{
                  answer=question.answer
                  for(var i=0;i<answer?.length;i++){
                      if(answer[i].answer == event.target.value){
                          if(answer[i].is_correct){
                            
                            console.log('Your answer is correct',obtained += question.marks)
                          }
                          else{
                              console.log('Your answer is incorrect')
                          }
                      }
                  }
              })
              console.log(event.target.value,uid)
          } {% endcomment %}

          checkAnswer(event, uid, marks) {
            var selectedAnswer = event.target.value;
            var isCorrect = false;
            this.questions.forEach(question => {
                if (question.uid === uid) {
                    question.answer.forEach(answer => {
                        if (answer.answer === selectedAnswer && answer.is_correct) {
                            isCorrect = true;
                        }
                    });
                }
            });
            if (isCorrect) {
                this.totalMarksObtained += parseInt(marks);
            }
            this.totalAttemptedMarks += parseInt(marks);
            this.totalPercentage = (this.totalMarksObtained/this.totalAttemptedMarks)*100;
          }
        },
        created() {
            this.getQuestions()
        },
        });
    </script>

  </body>
</html>


