{% extends "base.html" %}
{% block title %}add-category{% endblock title %} 
{% block body %}
    <style>
        .form-label{font-weight:bold;}
    </style>

    <div class="container-fluid " style="padding-inline: 15px">
        <img src="/static/image/question_bg.png" style="height:300px; margin-left:40%" />
    </div>

    <div class="container" style=" max-width: 50%; margin-bottom:5%; margin-left:25%">
        <h1 style= "text-align: center">
            Add New Topic
        </h1>
        
        <form method="POST" action="/add-category">
            {% csrf_token %}
            <div class="mb-3">
                <label for="category" class="form-label">New Topic</label>
                <input type="text" class="form-control" id="new_category" name="new_category" placeholder="New Topic" style="text-transform: uppercase;" required/>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #002b50; border-color: #002b50 ; color: #ffffff;">Submit</button>
        </form>
        
    </div>
{% endblock %}