{% extends "base.html" %}
{% block title %}category{% endblock title %} 
{% block body %}

<div class="container mt-5 p-5">
  <div class="col-md-6 mx-auto">
    <form>
      {% csrf_token %}
      <div class="form-group">
        <label >Select Your category</label>
        <select name="category" id="category" class="form-control" style="margin-top: 4%;">
          <option value="choose">Choose</option>
          {% for category in categories %}
          <option value="{{category.category_name}}">
            {{category.category_name}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div style="margin-top: 4%;">
        <button class="btn btn-danger" style="background-color: #FFDEAD; border-color: #9A5928; color: #9A5928;">
          Submit
        </button>
      </div>

    </form>
  </div>
</div>
{% endblock body %}
