{% extends "base.html" %}
{% block title %}index{% endblock title %}
{% block body %}
  <div class="container-fluid" style="padding-inline: 15px">
    <div id="carouselExampleCaptions" class="carousel slide  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" >
        
          <div class="carousel-item active" >
            <img src="/static/image/quiz_paper1.jpg" class="d-block w-100" alt="..." height=650px>
            <div class="carousel-caption d-none d-md-block" style="color: #9A5928">
              <h1 >Welcome To My Quiz</h1>
              <h3>Level up your brainpower with bite-sized quizzes!</h3>
            </div>
          </div>
  
          <div class="carousel-item" >
            <img src="/static/image/quiz_paper2.jpg" class="d-block w-100" alt="..." height=650px>
            <div class="carousel-caption d-none d-md-block" style="color: #9A5928">
              <h3>Think you're a trivia whiz? Put your brain to the test!</h3>
            </div>
          </div>
  
          <div class="carousel-item" >
            <img src="/static/image/quiz_paper3.jpg" class="d-block w-100" alt="..." height=650px>
            <div class="carousel-caption d-none d-md-block" style="color: #9A5928">
              <h3>Test your knowledge with fun and engaging quizzes!</h3>
            </div>
          </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: #9A5928"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: #9A5928"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    
  </div>

{% endblock body %}
