{% extends "base.html" %}
{% block title %}change-password{% endblock title %} 
{% block body %}
    <div class="container" style=" max-width: 1000px; margin-bottom:25px" style="text-transform: upercase">
        <h1 style= "text-align: center">
            Change Password
        </h1>
        <form method="POST" action="/change-password">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password">
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #002b50; border-color: #002b50 ; color: #ffffff;">Submit</button>
        </form>
    </div>
{% endblock body %}
