{% extends 'base.html' %}
{% load static %}
{% block title %}login{% endblock title %}
{% block head %}
  <link rel="stylesheet" type='text/css' href="{% static 'form.css' %}" />
{% endblock head %}
{% block body %}
<div class="texts-center">
      <div class="col">
        <main class="form-signin">
          <form action="/login" method="POST">
            {% csrf_token %}
            <img src="/static/image/login.png" alt="login"  />
            <h1 class="h3 mb-3 fw-normal">Log In</h1>

            <div class="form-floating">
              <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required />
              <label for="username">User Name</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
              <label for="password">Password</label>
              
            </div>
            <div id="options">
              <label>
                <input type="checkbox" onclick="myFunction()"> Show Password
              </label>
            </div>
            
            <button class="w-100 btn btn-lg btn-primary" style="margin-bottom: 10px; background-color: #002b50; border-color: #002b50 ; color: #ffffff;" type="submit">Log In</button>
            <a class="w-100 btn btn-lg btn-primary" href="/create-user" role="button" style="background-color: #002b50; border-color: #002b50 ; color: #ffffff;">Create Account</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2024-Aashish_Chakradhar</p>
          </form>
        </main>
      </div>
    </div>
{% endblock body %}