{% extends 'base.html' %} {% load static %} {% block title %}delete-user{%
endblock title %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}" />
{% endblock head %} {% block body %}
<div>
  <div class="texts-center">
    <div class="col">
      <main class="form-signin">
        {% if action == "delete" %}
        <form action="/delete-user" method="POST">
          {% csrf_token %} {% if users%}
          <table>
            <thead>
              <th style="width: 70px">Select</th>
              <th style="width: 150px">User Name</th>
              <th style="width: 200px">First Name</th>
              <th style="width: 150px">Last Name</th>
              <th style="width: 100px">Teacher</th>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <div class="form-floating">
                  <td>
                    <input
                      type="checkbox"
                      value="{{user}}"
                      name="username"
                      id="username"
                    />
                  </td>

                  <label
                    for="username"
                    style="padding-top: 0%; padding-left: 20px"
                  >
                    <td>{{user}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.is_staff}}</td>
                  </label>
                </div>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else%}
          <h1>No user found</h1>
          {% endif%}

          <button
            class="w-100 btn btn-lg btn-primary"
            style="
              margin-bottom: 10px;
              margin-top: 10px;
              background-color: #002b50;
              border-color: #002b50;
              color: #ffffff;
            "
            type="submit"
          >
            Delete
          </button>
        </form>

        {% elif action == "view" %} {% if users%}
        <table>
          <thead>
            <th style="width: 150px">User Name</th>
            <th style="width: 200px">First Name</th>
            <th style="width: 150px">Last Name</th>
            <th style="width: 100px">Teacher</th>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <div class="form-floating">
                <label
                  for="username"
                  style="padding-top: 0%; padding-left: 20px"
                >
                  <td>{{user}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{user.is_staff}}</td>
                </label>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else%}
        <h1>No user found</h1>
        {% endif%} {% endif %}
      </main>
    </div>
  </div>
</div>

{% endblock body %}
