{% extends "base.html" %}
{% block title %}
    view-records
{% endblock title %}
{% block body %}

    {% if request.user.is_superuser  %}
        <div class="container p-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST" action="/view-record">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Select user</label>
                                <select name="user" id="user" class="form-control">
                                    <option value="all">All</option>
                                    {% for user in users %}
                                        <option value="{{ user.username }}">
                                            {{ user.username }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Select category</label>
                                <select name="category" id="category" class="form-control">
                                    <option value="all">All</option>
                                    {% for category in categories %}
                                    <option value="{{ category.uid }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-danger" style="background-color: #002b50; border-color: #002b50 ; color: #ffffff; width: 100%;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}



    <div style="width:50%; text-align: left; margin-left:35%;">
        <table>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <h3>Records</h3>
                </th>
                <th></th>
            </tr>
            <tr>
                <th style="width:10%">
                    S N
                </th>
                <th style="width:20%">
                    User Name
                </th>

                <th style="width:20%">
                    Your Score
                </th>

                <th style="width:20%">
                    Topic 
                </th>

                <th style="width:30%">
                    Submission Date:
                </th>
            </tr>
            {% for record in records %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{record.user_name}}
                    </td>
                    <td>
                        {{record.score}}
                    </td>
                    <td>
                        {{record.category}}
                    </td>
                    <td>
                        {{record.created_at}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}